laravel/node_modules
laravel/public/hot
laravel/public/storage
laravel/public/packages
laravel/public/build
laravel/public/*.xlsx
laravel/storage/*.key
laravel/storage/app/public
laravel/storage/app/courseSyllabi
laravel/vendor
laravel/.env
laravel/.env.backup
laravel/.env.testing
laravel/database/seeders/UserSeeder.php
laravel/resources/views/emails/
.phpunit.result.cache

Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/nbproject
python/my_v_env/
python/.env
__pycache__/
python/logs/
.DS_Store/
.vscode

experiments/llm-evaluation/venv
.venv/
.pytest_cache/
.idea/
python/services/logs/
python/services/*/env/
python/services/lo_mapping_service/app/services/batch_inputs/**
**.env
python/services/lo_mapping_service/env
python/services/syllabi_service/env
