laravel/node_modules
laravel/public/hot
laravel/public/storage
laravel/storage/*.key
laravel/vendor
laravel/.env
laravel/.env.backup
laravel/.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
laravel/database/seeders/UserSeeder.php
/nbproject
laravel/resources/views/emails/
laravel/public/*.xlsx
laravel/storage/app/public
laravel/storage/app/courseSyllabi
python/my_v_env/
python/.env
python/*/__pycache__/
python/__pycache__/
