BATCH_TRANSFORM_INPUT_S3_BUCKET=curriculum-map-testing-bucket
AWS_REGION=ca-central-1
ACCESS_KEY= # TODO: Fill in
SECRET_KEY= # TODO: Fill in
LO_MAPPING_DYNAMODB_REQUESTS_TABLE=lo-mapping-requests
HF_MODEL_ID=Qwen/Qwen3-8B
HF_IMAGE_URI= # instructions to get this value are in lo_mapping_service/app/lambda_handlers/lambda_handler_start_batch_transform_job.py
HF_TASK=generation
INSTANCE_TYPE=ml.g5.2xlarge
INSTANCE_COUNT=1
INPUT_S3_URI=s3://curriculum-map-testing-bucket/input/
OUTPUT_S3_URI=s3://curriculum-map-testing-bucket/output/
JOB_NAME_PREFIX=hf-batch-transform
MODEL_NAME_PREFIX=hf-batch-transform-model
DYNAMODB_STATUS_INDEX=status-created_at-index

# We should change this once we deploy
LARAVEL_API_URL=http://127.0.0.1:8000/api/microservices/lo-mapping/ai-suggestions/store

# The following are only needed for deploying the batch transform job to the AWS Lambda 
# or setting up the EventBridge event.
# We can find IAM_ROLE_ARN by running
# aws iam list-roles --query "Roles[?contains(RoleName,'SageMaker-Execution')].Arn" --output text
# after having configured the AWS CLI with aws configure. 
# If that doens't work, ask the AWS admin for a SageMaker execution role ARN.
IAM_ROLE_ARN=
LAMBDA_ROLE_ARN=