BATCH_TRANSFORM_INPUT_S3_BUCKET=
AWS_REGION=
ACCESS_KEY=
SECRET_KEY=
LO_MAPPING_DYNAMODB_REQUESTS_TABLE=
HF_MODEL_ID=
HF_IMAGE_URI=
HF_TASK=
INSTANCE_TYPE=
INSTANCE_COUNT=
INPUT_S3_URI=
OUTPUT_S3_URI=
JOB_NAME_PREFIX=
MODEL_NAME_PREFIX=
DYNAMODB_STATUS_INDEX=
LARAVEL_API_URL=

# Only needed for deploying the batch transform job to the AWS Lambda
IAM_ROLE_ARN=